<DOCTYPE!>

<html ng-app>
<head>
<title>Listing 2-3</title>
<script src="angular.min.js"></script>
<script type="text/javascript">
var city = "Mumbai";
</script>

</head>
<body>
<label>City: </label><input ng-model="city" type="text" /></label>
<p>You entered: {{city}}</p>
<p ng-show = "city == 'Delhi'"> Paragraph 1, can you see me?+{{1+1}}</p>
<p ng-show = "false"> Paragraph 2, can you see me?</p>
<p ng-show = "1 == 1">Paragraph 3, can you see me?</p>
<p ng-show = "1 == 2">Paragraph 4, can you see me></p>
<button ng-click="count=count+1" ng-init="count=0">Increment</button>
count:{{count}}
</body>
</html>